@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* Background Colors */
    --bg: #ffffff;
    --header-bg: #f3f5f8;

    /* Typography Colors */
    --content: #69707a;
  }

  .dark {
    /* Background Colors */
    --bg: #222324;
    --header-bg: #292929;

    /* Typography Colors */
    --content: #aaaaaa;
  }

  html,
  body,
  div#root {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
  }
}

@theme {
  /* Background Colors */
  --color-background: var(--bg);
  --color-header: var(--header-bg);

  /* Primary Color Scale */
  --color-primary-50: #fff1f2;
  --color-primary-100: #ffe1e3;
  --color-primary-200: #ffc8cb;
  --color-primary-300: #ffa1a7;
  --color-primary-400: #fe6b74;
  --color-primary-500: #f6323e;
  --color-primary-600: #e41e2a;
  --color-primary-700: #c0151f;
  --color-primary-800: #9e161e;
  --color-primary-900: #83191f;

  /* Primary Color Variants */
  --color-primary: var(--color-primary-500);
  --color-primary-muted: var(--color-primary-500)/70;
  --color-primary-subtle: var(--color-primary-500)/50;
  --color-primary-faint: var(--color-primary-500)/30;

  /* Typography Color Variants */
  --color-content: var(--content);
  --color-content-muted: var(--content)/70;
  --color-content-subtle: var(--content)/70;
  --color-content-faint: var(--content)/70;

  /* Spacing */
  --spacing-sidebar: 15rem;
}

